{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Afnan Muhammad | MyPortfolio
        {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endcompress %}
</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'images/logos/logo.png' %}" alt="Logo">
            <h1 class="logo-text">
                Afnan Muhammad
            </h1>
        </div>
        <nav>
            <a class="btn-link" href="{% url 'index' %}">Home</a>
            <a class="btn-link" href="{% url 'index' %}">Work</a>
        </nav>
    </header>

    <main>
        <div class="hero-section">
            <!-- Video background will be set by JavaScript -->
            <video autoplay muted loop class="hero-video">
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="hero-content">
                <h2 class="page-heading">
                    {% block pageHeading %}
                    {% endblock pageHeading %}
                </h2>
                <p class="page-intro">
                    {% block pageIntro %}
                    {% endblock pageIntro %}
                </p>
            </div>
        </div>
        <div class="content-section">
            <!-- Background image will be set by JavaScript -->
            <div class="content-wrapper">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </main>

    <footer>
        <p>©{% now "Y" %} My Portfolio</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>