{% load static %}
{% load compress %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Afnan Muhammad | MyPortfolio
        {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/favicons/favicon.png' %}" type="image/x-icon">
    {% compress css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endcompress %}
</head>

<body>
    <header>
        <h1 class="logo-text">
            Afnan Muhammad
        </h1>
        <nav>
            <a class="btn-link" href="{% url 'index' %}">Home</a>
            <a class="btn-link" href="{% url 'index' %}">Work</a>
        </nav>
        <div class="account">
            {% if user.is_authenticated %}
            <a class="btn-link" href="{% url 'add-project' %}">Add Project</a>
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn-link">Logout</button>
            </form>
            {% else %}
            <a class="btn-link" href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </header>

    <main>
        <div class="hero-section">
            <h2 class="page-heading">
                {% block pageHeading %}
                {% endblock pageHeading %}
            </h2>
            <p>
                {% block pageIntro %}
                {% endblock pageIntro %}
            </p>
        </div>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <p>© {% now "Y" %} My Portfolio</p>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>