{% extends 'base.html' %}


{% block title %}
Projects | MyPortfolio
{% endblock title %}

{% block pageHeading %}
My Work & Projects
{% endblock pageHeading %}

{% block pageIntro %}
Here are all the amazing things I've built.
{% endblock pageIntro %}

{% block content %}
<div class="work-done--section">
    {% for project in projects %}
    {% include 'includes/project_card.html' %}
    {% empty %}
    <p class="msg-warning">No projects have been added yet.</p>
    {% endfor %}
</div>

<div class="work-pending--section">
</div>
{% endblock content %}